/* Hero Banner Section */
.banner-image {
    padding: 50px 0;
    /* background-color: #f9f9f9; */
}

/* Title styling */
.banner-title h1 {
    font-family: 'Playfair Display', serif; /* Elegant serif font for a premium feel */
    font-size: 5.5rem;
    color: #241e1e; /* Sophisticated dark slate gray */
    font-weight: 700; /* Bold for emphasis */
    margin-bottom: 10px;
    letter-spacing: 1px; /* Slightly spaced letters for modern elegance */
    line-height: 1.2; /* Proper vertical spacing */
    text-transform: uppercase; /* Adds prominence to the title */
}


/* Banner content text styling */
.banner-content {
    font-family: 'Open Sans', sans-serif; /* Change to any preferred font */
    font-size: 1.25rem; /* Slightly larger font for content */
    color: #1b2834; /* Slightly lighter shade of gray for content text */
    line-height: 1.6;
    text-align: justify;
    
}

/* Image Styling */
.banner-image img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    /* transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out; */
    filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.5));
}

/* Hover Effect */
/* .banner-image img:hover {
    transform: scale(1.05) rotateX(5deg) rotateY(5deg);
} */

/* Additional Effect for Active State */
.banner-image img:active {
    transform: scale(0.98) rotateX(-5deg) rotateY(-5deg); /* Slight press effect */
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.6)); /* Adjust shadow for active state */
}


/* Mobile Responsiveness */
@media (max-width: 767px) {
    .banner-image {
        padding: 30px 0;
    }

    .banner-title h1 {
        font-size: 2rem;
    }

    .banner-content {
        font-size: 1.1rem;
    }

    .banner-image a {
        font-size: 1rem;
        padding: 8px 20px;
    }
}
